$primary-color: #FFEFE7;                              // Declaramos nuestras variables de colores principales
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$quartery-color: #FA9500;
$primary-text-color: #7C6A0A;
$font-stack: 'IBM Plex Sans', sans-serif;               // Declaramos nuestra tipografía principal
$paragraph-font-size: 1.5em;                            // Declaramos el tamaño de fuente de los párrafos

@mixin flexCenter($direction, $content, $align) {       // Creamos un mixin con Argumentos para centrar elementos con flexbox
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle {
    button {
        background: none;
        border-style: none;
    }
}

body { 
    margin: 0px;
    padding: 0px;
    background-color: $primary-color;
    font-family: $font-stack;
}

nav {
    @include flexCenter(row, space-between, center);    // Incluimos nuestro mixin de flexbox con argumentos
    background-color: $primary-color;
    color: $primary-text-color;
    width: auto;
    padding: 15px;
    p {
        font-size: $paragraph-font-size;
        padding-left: 30px;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    .icons {
        display: flex;
        gap: 15px;
        @include buttonStyle;       // Incluimos nuestro mixin de botones
    }

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 0;
    }
}

article {
    @include flexCenter(row, space-between, center);
    color: $primary-text-color;
    width: auto;
    padding-top: 70px;
    padding-left: 45px;
    padding-right: 45px;
    .impact-section {
        @include flexCenter(column, space-evenly, flex-start);
        padding-top: 50px;
        gap: 25px;
    }
    h1 {
        font-size: 3em;
        padding: 0px;
        margin: 0px;
    }
    p {
        font-size: $paragraph-font-size;
    }
    @include buttonStyle;
    button {
        background-color: $quartery-color;
        color: white;
        width: 12vw;
        padding: 20px;
        border-radius: 35px;
        font-size: 1em;
        &:hover {
            transform: scale(1.1);
            transition-duration: 0.5s;
        }
    }
    img {
        width: 25vw;
        border-radius: 19px;
    }
}

section {
    width: auto;
    height: auto;
    padding: 60px;
    h2 {
        color: $primary-text-color;
        font-size: 2em;
    }
    .healthcare {
        padding-bottom: 60px;
        h2 {
            font-weight: 300;
            padding-bottom: 60px;
        }
        .card-section {
            @include flexCenter(row, space-evenly, center);
            width: auto;
            height: auto;
            column-gap: 200px;
            row-gap: 80px;
            flex-wrap: wrap;
        }
        .product-card {
            background-color: $secondary-color;
            color: $primary-text-color;
            width: 14vw;
            height: 45vh;
            padding: 20px;
            border-radius: 8px;
            .icon {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;
                svg {
                    width: 28px;
                    height: 28px;
                }
            }
            .product-image {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 12vw;
                    height: 30vh;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }
        }
    }

    // Aplicamos herencia para ahorrar código
    .furniture {
        @extend .healthcare;
        .product-card {
           background-color: $tertiary-color;
           color: white;
        }
    }
}

.about-us {
    padding-bottom: 60px;
    h2 {
        font-weight: bold;
        padding-bottom: 60px;
    }
    .mission-section {
        @include flexCenter(row, space-evenly, center);
        .earth {
            $text-color: #E86424;
            width: 30vw;
            display: flex;
            gap: 40px;
            color: $text-color;
            img {
                object-fit: contain;
            }
            p {
                text-align: center;
                font-size: $paragraph-font-size;
            }
        }
        .innovation {
            @extend .earth;
        }
    }
}

.gallery {
    h2 {
        color: $primary-text-color;
        font-size: 2em;
    }
    .gallery-images {
        @include flexCenter(row, space-between, center);
        img {
            width: 28vw;
            height: 45vh;
            object-fit: cover;
            object-position: 5px 35%;
            border-radius: 16px;
            &:hover {
                transform: scale(1.1);
                transition-duration: 0.4s;
            }
        }
    }
}

.location {
    $text-color: #E86424;
    color: $text-color;
    h2 {
        padding-bottom: 60px;
        padding-top: 60px;
    }
    .map {
        @include flexCenter(row, center, center);
        padding-bottom: 50px;
    }
    p, h3 {
        font-size: $paragraph-font-size;
    }
}

footer {
    background-color: $quartery-color;
    width: 100%;
    height: auto;
    color: white;
    padding: 40px;
    .social-media {
        @include flexCenter(row, center, center);
        gap: 40px;
        padding-bottom: 40px;
    }
}